---
import { siteConfig } from "../config";
---

<section id="photography" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900"
        >
          Photography
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="lg:col-span-8 space-y-8">
        <!-- Popup -->
      	<div id="image-modal-popup">
	<div id="image-modal-container">
		<div id="image-modal-dialog">
			<img id="image-modal-image" src=""></img>
			<div id="image-modal-loader"></div>
			<div id="image-modal-close-button"></div>
		</div>
		</div>
	 </div>
        <p class="text-lg sm:text-xl md:text-2xl leading-relaxed text-gray-600">
          <b>{siteConfig.photography.header}</b><br/><br/>
	  {siteConfig.photography.body}
	  <br/><br/>
	  Galleries are on my photography site at <a href="https://www.myactionpix.co.uk/">https://www.myactionpix.co.uk/</a>
        </p>

	   <div class="section-wrapper">
	    <div class="carousel-wrapper">
    	      <div class="carousel">

	      {
                siteConfig.photography.photos.map((photo) => (
	        <!--.carousel__card-->
       	        <div class={`carousel__card ${photo.active ? " active" : ""} `}>
                  <div>
            	    <img alt={photo.alt} src={photo.thumb} class="image-popup" />
        	  </div>
		  <div>
		   <p> {photo.title } </p>
		   {photo.description}
		   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  </div>
      		 </div>
	        ))
               }
      <div id="next" class="carousel__button--next"></div>
      <div id="prev" class="carousel__button--prev"></div>
    </div>
    <!--.carousel-->
    <div class="carousel__dots">
      <ul id="dotList">
        <li class="dot active"></li>
        <li class="dot "></li>
        <li class="dot"></li>
        <li class="dot"></li>
        <li class="dot"></li>
      </ul>
    </div>
    <!--.carousel__dots-->
  </div>
  <!--.carousel-wrapper-->
  </div>
  </div>
      </div>
    </div>
  </div>
</section>
